<footer class="page-footer">
    <app-credit-row class="footer-row" [projectRole]="'Project Manager'" [contributorName]="'GonzaGKX'"
        [twitterUrl]="'https://twitter.com/GonzaGKX'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Website development'" [contributorName]="'NoxShadow'"
        [twitterUrl]="'https://twitter.com/NoxShadow24904'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Background'" [contributorName]="'Zurweon'"
        [twitterUrl]="'https://twitter.com/zurweon'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Reimu with the Phantomos Illustration'"
        [contributorName]="'RynnBirb'" [twitterUrl]="'https://twitter.com/Rynn_Birb'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Reimu x Octane Illustration'" [contributorName]="'Pupi'"
        [twitterUrl]="'https://twitter.com/p_u_p_i'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Card designs'" [contributorName]="'Raley A'"
        [twitterUrl]="'https://twitter.com/ReimusMongrel'"></app-credit-row>
    <app-credit-row class="footer-row" [projectRole]="'Default phantomo designs and page icon'"
        [contributorName]="'Kyzo'" [twitterUrl]="'https://twitter.com/kyzoluxray'"></app-credit-row>
    <span>
        Join the phantomo graveyard! (As long as you are not Reimu)
        <a aria-label="Phantomo graveyard" target="_blank" href="https://discord.gg/g7Ba82D2XX">
            <img height="30" alt="Discord Logo" src="assets/DiscordLogo.png" />
        </a>
    </span>
</footer>